# Class & Package Files
*.class
*.war

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Runtime Pid file
cws.pid

# Temporary Docker files
apt.conf
wgetrc

# IDEA IntellíJ & MS Code settings
.classpath
.idea
.project
.settings
*.iml
target
dependency-reduced-pom.xml

# FitNesse settings
*.zip
fitnesse-standalone.jar
cws-fitnesse/FitNesseRoot/FitNesse/
cws-fitnesse/FitNesseRoot/FrontPage/
cws-fitnesse/FitNesseRoot/PageFooter/
cws-fitnesse/FitNesseRoot/PageHeader/
cws-fitnesse/FitNesseRoot/PlugIns/
cws-fitnesse/FitNesseRoot/RecentChanges.wiki
cws-fitnesse/FitNesseRoot/TemplateLibrary/
cws-fitnesse/FitNesseRoot/content.txt
cws-fitnesse/FitNesseRoot/files/
cws-fitnesse/FitNesseRoot/properties
cws-fitnesse/FitNesseRoot/properties.xml
