FROM eclipse-temurin:25-jdk-alpine
LABEL maintainer="EDS Project"
LABEL description="EDS Quarkus Builder"
RUN apk add --no-cache maven
WORKDIR /app
COPY . .
CMD ["mvn", "clean", "package", "-DskipTests", "-Dmaven.javadoc.skip=true", "-pl", "!eds-wildfly"]
